header {
  height: 5vw;
  padding: 1vw;
  background-image: url('./assets/pexels-padrinan-255379.jpg');
  background-size: cover;
  background-position: center;
}

body {
  background-color: #DDBEA9;
}

